services:
  - type: web
    name: online-boardgame-platform-api
    runtime: node
    plan: free
    autoDeploy: true
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    healthCheckPath: /health
